@model Gambling_my_beloved.Models.Stock

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Symbol - @Model.Company.Name</h1>

<div>
    <h4>Information</h4>
    <hr/>
    <div class="row">
        <div class="col-5">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Symbol)
                </dt>
                <dd class="col-sm-5">
                    <strong>
                        @Html.DisplayFor(model => model.Symbol)
                    </strong>
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd class="col-sm-5">
                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Company.Id">
                        @Html.DisplayFor(model => model.Company.Name)
                    </a>
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </dt>
                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.UnitPrice)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.PriceChange)
                </dt>
                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.PriceChange, "PriceChange")
                </dd>
            </dl>
        </div>

        <div class="col-5">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Volatility)
                </dt>
                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.Volatility)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.Controversy)
                </dt>
                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.Company.Controversy)
                </dd>
                <div class="col">
                    <a class="btn btn-secondary">Transaction history</a>
                </div>
            </dl>
        </div>
    </div>

    <br/>

    <h4>History</h4>

    <hr/>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
                window.onload = function () {
                    var result = @Html.Raw(ViewData["StockHistory"]);
                    this.console.log(result);
        
                    var DataItem = [];
                    for (var i = 0; i < result.length; i++) {
                        DataItem.push({
                            x: new Date(result[i].Date),
                            y: result[i].Price
                        });
                    }
                    
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        theme: "light2",
                        data: [{
                            markerSize: 0,
                            type: "line",
                            dataPoints: DataItem
                        }]
                    });
                    chart.render();
                }
        </script>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>