@model IEnumerable<Gambling_my_beloved.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_IndexSearchPartial")

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceChange)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Stock item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Symbol)
                </a>
            </td>
            <td>
                <a asp-controller="Companies" asp-action="Details" asp-route-id="@item.Company.Id">
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChange, "PriceChange")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>