@model Gambling_my_beloved.Models.View.StockViewModel

<a class="row stock-card no-dec text-black" asp-controller="Stocks" asp-action="Details" asp-route-id="@Model.Stock.Id">
    <div class="col">
        <div class="stock-nameplate stock-nameplate-sm" style="background-color: @Model.Stock.Color;">
            @Model.Stock.Symbol
        </div>

        <span class="stock-card-title">@Model.Stock.Company.Name</span>
        <br/>

        @if (Model.Quantity != null)
        {
            <span class="text-secondary">@Model.Quantity.Value.ToString("N0") shares owned at @Model.Price.ToCurrency() per share</span>
        }
        else
        {
            <span class="text-secondary">@Model.Price.ToCurrency() per share</span>
        }
    </div>

    @if (Model.PricePercent != null)
    {
        <div class="col-auto centerfix-col">
            @Html.DisplayFor(model => model.PricePercent, "PriceChangeBubble")
        </div>
    }
</a>