@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
    ApplicationUser? currentUser = ViewData["User"] as ApplicationUser;
}

<h1 class="display-4">Welcome</h1>

<div class="row">
    <div class="col-8">
        @if (currentUser != null)
        {
            decimal profitPercentage = currentUser.GetTotalProfitPercentage();
            
            <h2 class="display-5">Statistics</h2>
            
            <div class="row">
                <div class="col-lg-5 col-12">
                    <dl class="row">
                        <dt class="col-5">
                            @Html.DisplayNameFor(model => currentUser.Balance)
                        </dt>
                        <dd class="col-5">
                            @Html.DisplayFor(model => currentUser.Balance)
                        </dd>
                        
                        
                        <dt class="col-5">
                            Total Investment
                        </dt>
                        <dd class="col-5">
                            @currentUser.GetTotalInvestment().ToString("C")
                        </dd>
                        <dt class="col-5">
                            Total Value
                        </dt>
                        <dd class="col-5">
                            @currentUser.GetTotalValue().ToString("C")
                        </dd>
                        <dt class="col-5">
                            Total Profit
                        </dt>
                        <dd class="col-5">
                            @currentUser.GetTotalProfit().ToString("C") (@Html.DisplayFor(model => profitPercentage, "PriceChange"))
                        </dd>
                    </dl>
                </div>
            </div>
        }
    </div>

    <div class="col">
        <h2 class="display-5">Recent news</h2>

        <div class="row">
            @foreach (var item in ((IEnumerable<StockEvent>)ViewData["StockEvents"])!
                .Zip((IEnumerable<Stock[]>)ViewData["EffectedStocks"]!,
                    (stockEvent, stocks) => new { StockEvent = stockEvent, Stocks = stocks }))
            {
                <div class="col-12">
                    <div class="card m-2 ms-0">
                        <div class="card-body">
                            <h5 class="card-title">@item.StockEvent.Description</h5>

                            @foreach (Stock stock in item.Stocks)
                            {
                                decimal price = stock.GetHistoricalPrice(item.StockEvent.Date);
                                decimal priceChange = stock.GetPriceChangePercent(item.StockEvent.Date);
                                <div class="card mt-2">
                                    <div class="row">
                                        <div class="col-5">
                                            <a asp-controller="Stocks" asp-action="Details" asp-route-id="@stock.Id" class="stock-nameplate" style="background-color: @stock.Color">
                                                @stock.Symbol
                                            </a>
                                        </div>

                                        <div class="col centerfix-col">
                                            @price.ToString("C")
                                        </div>

                                        <div class="col-auto me-2 centerfix-col">
                                            @Html.DisplayFor(modelItem => priceChange, "PriceChange")
                                        </div>
                                    </div>
                                </div>
                            }

                            <hr/>
                            <p class="card-text text-secondary">@item.StockEvent.Date</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>