@model Gambling_my_beloved.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <img src="@Model.LogoUrl" alt="Company logo" class="img-thumbnail" style="height: 20vh;"/>
    <hr/>
    <div class="row">
        <div class="col-lg-5 col-12">
            <dl class="row">
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.CEO)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.CEO)
                </dd>
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.Industries)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Industries, "BadgeIndustry")
                </dd>
            </dl>
        </div>
    </div>

    @* Show stocks *@

    <h4>Stocks</h4>
    <div class="row">
        @foreach (Stock stock in Model.Stocks)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-controller="Stocks" asp-action="Details" asp-route-id="@stock.Id">
                                @stock.Symbol
                            </a>
                        </h5>
                        <div class="card-text">
                            <dl class="row">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => stock.Symbol)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => stock.Symbol)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => stock.UnitPrice)
                                </dt>
                                <dd class="col-sm-5">
                                    @stock.UnitPrice.ToCurrency()
                                </dd>
                                <dt class="col-sm-5">
                                    @stock.PriceChange.ToCurrency()
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => stock.PriceChange, "PriceChange")
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>