@using Gambling_my_beloved.Models.View
@model Gambling_my_beloved.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <img src="@Model.LogoUrl" alt="Company logo" class="img-thumbnail" style="height: 20vh;"/>
    <hr/>
    <div class="row">
        <div class="col-lg-5 col-12">
            <dl class="row">
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.CEO)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.CEO)
                </dd>
                <dt class="col-5">
                    @Html.DisplayNameFor(model => model.Industries)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Industries, "BadgeIndustry")
                </dd>
            </dl>
        </div>
    </div>

    @* Show stocks *@

    <h4>Stocks</h4>
    <hr/>

    <div class="container">
        <div class="row">
            @{
                List<StockViewModel> stockViewModels = Model.Stocks.Select(x =>
                    new StockViewModel(x, price: x.UnitPrice, priceChange: x.PriceChange, pricePercent: x.PriceChangePercent)).ToList();
            }

            @foreach (StockViewModel stockViewModel in stockViewModels)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    @Html.DisplayFor(modelItem => stockViewModel, "StockViewModel")
                    @if (stockViewModel != stockViewModels.Last())
                    {
                        <hr/>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole(Roles.Administrator))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <span> | </span>   
    }
    <a asp-action="Index">Back to List</a>
</div>