@model Gambling_my_beloved.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    @* <h4>Company</h4> *@
    <img src="@Model.LogoUrl" alt="Company logo" class="img-thumbnail" style="height: 20vh;"/>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industries)
        </dd>
    </dl>

    @* Show stocks *@

    <h4>Stocks</h4>
    <div class="row">
        @foreach (Stock stock in Model.Stocks)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-controller="Stocks" asp-action="Details" asp-route-id="@stock.Id">
                                @stock.Symbol
                            </a>
                        </h5>
                        <div class="card-text">
                            <dl class="row">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => stock.Symbol)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => stock.Symbol)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => stock.UnitPrice)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => stock.UnitPrice)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => stock.PriceChange)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => stock.PriceChange, "PriceChange")
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>