@model IEnumerable<Gambling_my_beloved.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">All Transactions</h1>
<hr/>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockOwnership.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Transaction item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="no-dec text-dark">
                    @item.StockOwnership.Stock.Symbol - @item.StockOwnership.Stock.Company.Name
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
    </tbody>
    
    <div>
        @* next and previous buttons *@
        @* <a asp-action="Index" asp-route-page="@(ViewData["PreviousPage"] ?? 1)" class="btn btn-primary @(ViewData["PreviousPage"] == null ? "disabled" : "")">Previous</a> *@
        @* <a asp-action="Index" asp-route-page="@(ViewData["NextPage"] ?? 1)" class="btn btn-primary @(ViewData["NextPage"] == null ? "disabled" : "")">Next</a> *@
    </div>
</table>